
:root {
    --header-bg-color: #000000;
    --header-color: #dadada;

    --main-bg-color: #ffffff;
    --main-color: black;

    
}

@font-face { font-family: Bahnschrift; src: url('BAHNSCHRIFT.TTF'); } 

:root:has(#night:checked) {

    --main-bg-color: #272727;
    --main-color: rgb(212, 212, 212);
}

* {
    margin: 0;
    padding: 0;

    font-family: Bahnschrift;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    min-height: 100vh;

    background-color: var(--main-bg-color);


}

header {
    background-color: var(--header-bg-color);
    color:  var(--header-color);

    height: 48px;

    display: flex;
    align-items: center;

    justify-content: space-between;

    padding: 0 40px;

    > div {
        display: flex;
        gap: 8px;
    }
}



main {
    min-width: 800px;

    margin: auto;
    flex: 1;

    padding: 12px;

    color: var(--main-color);
}

footer {
    justify-self: flex-end;

    background-color: rgb(51, 51, 51);
    color: #dadada;

    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#notes {
    margin-top: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

#top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
    font-weight: bold;
}

p {
    font-size: 18px;
}


.card {

    display: flex;
    padding: 8px;

    align-items:stretch;
    gap: 10px;

    justify-content: space-between;
}

.card input {
    background-color: transparent;
    border: none;
    outline: none;

    flex: 1;
    color: white;

    font-size: 16px;
}

.cardTime {
    background-color: #595a58;
    width: 10em;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 16px;
}

.cardTimeReview {
    background-color: #a3873b;
    width: 10em;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 16px;
}

.cardTimeDone {
    background-color: #306741;
    width: 10em;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 16px;
}



.card button {
    height: 100%;
    aspect-ratio: 1;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

.actions {
    

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actionsSep {
    margin: 0 2px;

    width: 4px;
    height: 4px;
    background-color:#595a58;
    content: none;
    color: transparent;

    border-radius: 50%;
}

#popup {
    display: none;
}
.hidden {
    display: none;
}

#popupShown {
    position: fixed;

    background-color: #000000;
    color: white;

    padding: 12px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popupTitle {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.popupTitle > h4 {
    font-size: 16px;
    font-weight: 400;
}

.popupTitle > p {
    font-size: 16px;
    font-weight: 400;
}